<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="https://kit.fontawesome.com/56b873f0cc.js" crossorigin="anonymous"></script>

    <title>廣志の私帳</title>
  </head>
  <header>
      <!-- navigation -->
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/expenses">
            <img
              src="/img/budget.png"
              width="30"
              height="30"
              class="d-inline-block align-top"
              alt="我的餐廳清單"
            />
            個人記帳本
          </a>

          {{#if isAuthenticated}}
              <a
                class="btn btn-outline-orange d-flex flex-column align-items-center text-decoration-none "
                style="margin-left: 10%;;"
                href="/users/logout"
              >Logout
              </a>
          {{else}}
            <div class="d-flex">
              <a
                class="btn btn-outline-orange d-block text-decoration-none "
                href="/users/login"
              >Login
              </a>
              <a
                class="btn btn-outline-orange text-decoration-none  ms-2"
                style="margin-left: 10%;"
                href="/users/register"
              >Register
              </a>
            </div>
          {{/if}}
        </div>
      </nav>
  <body>
    {{{body}}}
    <script src="/javascript/popper.min.js"></script>
    <script src="/javascript/bootstrap.min.js"></script>
    
  </body>
</html>