</header>
<div class="container d-flex justify-content-center mt-5">
  <form
    action="/expenses/{{expense._id}}/edit?_method=PUT"
    method="POST"
    class="needs-validation w-100 d-flex flex-column justify-content-center align-items-center mt-3"
    novalidate
  >
    <div class="row w-md-100 w-50 ">
      <p class="col col-4"><i class="text-danger">* </i>必填欄位</p>
      <h4 class="col col-8" >請修改你的支出</h4>
    </div>
    <div class="row w-md-100 w-50 mt-4">
      <label for="name" class="form-label  col-4 fs-4">名稱<i class="text-danger">* </i>：</label>
      <input type="text" id="name" name="name" class="form-control col-8 w-50 "  value="{{expense.name}}" placeholder="支出項目名稱" required/>
    </div>
    <div class="row w-md-100 w-50 mt-4">
      <label for="data" class="form-label  col-4 fs-4">日期<i class="text-danger">* </i>：</label>
      <input type="date" id="date" name="date" class="form-control col-8 w-50" required value="{{expense.date}}" placeholder="支出日期" />
    </div>
    <div class="row w-md-100 w-50 mt-4">
      <label for="category" class="form-label  col-4 fs-4">類別<i class="text-danger">* </i>：</label>
      <select class="form-select col-8 w-50 " aria-label="Default select example" name="category" required>
        <option selected>Open this select menu</option>
        <option value="家居物業">家居物業</option>
        <option value="交通出行">交通出行</option>
        <option value="休閒娛樂">休閒娛樂</option>
        <option value="餐飲食品">餐飲食品</option>
        <option value="其他">其他</option>
      </select>
    </div>
    <div class="row w-md-100 w-lg-75 w-50 mt-4">
      <label for="amount" class="form-label  col-4 fs-4">金額<i class="text-danger">* </i>：</label>
      <input type="text" id="amount" name="amount" class="form-control col-8 w-50" required value="{{expense.amount}}" placeholder="支出金額"/>
    </div>

      <button type="submit" class="btn btn-create mt-5">送出</button>
  </form>
</div>