.btn-orange {
  background-color: #df603b;
  color: #eff;
  border-color: #333;
}

.btn-orange:hover {
  background-color: #ec7b57;
  color: #fff;
  border-color: #333;
}

.btn-outline-orange {
  background-color: none;
  border-color: #333;
  color: #df603b;
}

.btn-outline-orange:hover {
  background-color: #d44f27;
  color: #eff;
}

.btn-create:hover {
  background-color: #d44f27;
  color: #eff;
}

.fs-4rem {
  font-size: 4rem;
}

.text-orange {
  color: #ec7b57;
}

.tx-12px {
  font-size: 12px;
}

.tx-14px {
  font-size: 14px;
}

.tx-16px {
  font-size: 16px;
}
